.btn-list{
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.coments{
    padding-top: 40px;
}

.comments-list{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin: 0;
}