<div class="back-modal-my is-hidden">
    <form class="modal-my" name="modal-form">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">change comment title</label>
            <input name="title" type="text" class="form-control" id="formGroupExampleInput" placeholder="enter new title">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">change comment text</label>
            <input name="text" type="text" class="form-control" id="formGroupExampleInput2" placeholder="enter new text">
          </div>
          <button type="submit" href="#" class="btn btn-primary delete">
            submit
          </button>
    </form>
</div>